.hero-section {
  padding-top: 210px;
  padding-bottom: 278px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/mobile/hero-background@1x-mobile.webp);

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url(../images/mobile/hero-background@2x-mobile.webp);
  }

  @media screen and (min-width: 720px) {
    padding-top: 182px;
    padding-bottom: 260px;
    background-image: url(../images/tablet/hero-background@1x-tablet.webp);

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../images/tablet/hero-background@2x-tablet.webp);
    }
  }

  @media screen and (min-width: 1200px) {
    padding-top: 130px;
    padding-bottom: 208px;
    background-image: url(../images/desktop/hero-background@1x-desktop.webp);

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../images/desktop/hero-background@2x-desktop.webp);
    }
  }
}

.hero-title {
  max-width: 920px;
  color: #fff;
  font-size: 64px;
  font-weight: 400;
  line-height: 100%;

  @media screen and (min-width: 720px) {
    font-size: 96px;
    font-weight: 500;
  }

  @media screen and (min-width: 1200px) {
    font-size: 128px;
  }
}

.hero-star {
  fill: #fff;
}