h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Oswald;
  background-color: #171717;
}

.container {
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
  outline: solid red;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 360px) {
  .container {
    max-width: 328px;
  }
}
@media screen and (min-width: 720px) {
  .container {
    max-width: 664px;
    padding: 0 12px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
    padding: 0 15px;
  }
}

header {
  padding-top: 14px;
}
@media screen and (min-width: 720px) {
  header {
    padding-top: 24px;
  }
}

.header-logo {
  display: flex;
  width: 199px;
  height: 36px;
  fill: #fff;
  margin-right: 151px;
}

.header-list {
  display: none;
  justify-content: center;
  gap: 16px;
  margin-right: 237px;
}
@media screen and (min-width: 1200px) {
  .header-list {
    display: flex;
  }
}

.header-link {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
}

.header-btn {
  display: block;
  color: #171717;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.36px;
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 24px;
  border: none;
  padding: 16px 24px;
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-svg {
  margin-right: 8px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-icon {
  fill: #FFFFFF;
}

.logo-word {
  fill: #FFFFFF;
  display: none;
}
@media screen and (min-width: 720px) {
  .logo-word {
    display: block;
  }
}

.header-burger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 45px;
}
@media screen and (min-width: 720px) {
  .header-burger {
    margin-left: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .header-burger {
    display: none;
  }
}

.header-burger-icon {
  width: 40px;
  height: 40px;
  stroke: #fff;
}
@media screen and (min-width: 720px) {
  .header-burger-icon {
    width: 48px;
    height: 48px;
  }
}

.hero-section {
  padding-top: 210px;
  padding-bottom: 278px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../images/mobile/hero-background@1x-mobile.webp);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: url(../../images/mobile/hero-background@2x-mobile.webp);
  }
}
@media screen and (min-width: 720px) {
  .hero-section {
    padding-top: 182px;
    padding-bottom: 260px;
    background-image: url(../../images/tablet/hero-background@1x-tablet.webp);
  }
}
@media screen and (min-width: 720px) and (min-device-pixel-ratio: 2), screen and (min-width: 720px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 720px) and (min-resolution: 192dpi), screen and (min-width: 720px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: url(../../images/tablet/hero-background@2x-tablet.webp);
  }
}
@media screen and (min-width: 1200px) {
  .hero-section {
    padding-top: 130px;
    padding-bottom: 208px;
    background-image: url(../../images/desktop/hero-background@1x-desktop.webp);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: url(../../images/desktop/hero-background@2x-desktop.webp);
  }
}

.hero-title {
  max-width: 920px;
  color: #fff;
  font-size: 64px;
  font-weight: 400;
  line-height: 100%;
}
@media screen and (min-width: 720px) {
  .hero-title {
    font-size: 96px;
    font-weight: 500;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 128px;
  }
}

.hero-star {
  fill: #fff;
}

.achievements {
  padding-top: 80px;
}
@media screen and (min-width: 720px) {
  .achievements {
    padding-top: 156px;
  }
}

.achievements-subtitle {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  line-height: 120%;
  text-transform: uppercase;
  text-align: start;
  margin-bottom: 8px;
}

.achievements-title {
  max-width: 542px;
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.04em;
  margin-bottom: 48px;
}
@media screen and (min-width: 720px) {
  .achievements-title {
    font-size: 40px;
    line-height: 120%;
  }
}

.achievements-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
@media screen and (min-width: 720px) {
  .achievements-list {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 640px;
  }
}
@media screen and (min-width: 1200px) {
  .achievements-list {
    max-width: 1110px;
    gap: 30px;
  }
}

.achievements-item {
  width: 312px;
  height: 306px;
  padding: 16px;
  border-radius: 20px;
  box-shadow: 0 4px 10px 0 rgba(57, 57, 57, 0.1);
  background-image: url(../images/achievements1.webp);
}
@media screen and (min-width: 720px) {
  .achievements-item {
    width: 308px;
  }
}
@media screen and (min-width: 1200px) {
  .achievements-item {
    width: 350px;
  }
}

.achievements-item:nth-child(2) {
  background-image: url(../images/achievements2.webp);
}

.achievements-item:last-child {
  background-image: url(../images/achievements3.webp);
}

.achievements-article {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.achievements-number {
  color: #fff;
  font-family: Open Sans;
  font-size: 64px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 2.56px;
}

.achievements-text {
  width: 318px;
  color: #fff;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.96px;
}

.services {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .services {
    padding-top: 156px;
    padding-bottom: 156px;
  }
}

.services-paragraph {
  color: #fff;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 300;
  line-height: 120%;
  text-transform: uppercase;
}

.services-title {
  width: 312px;
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 1.6px;
  margin-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .services-title {
    width: 540px;
    font-size: 40px;
  }
}

.services-item {
  position: relative;
  border-top: 1px solid #fff;
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  align-items: flex-start;
  padding-left: 48px;
}
@media screen and (min-width: 768px) {
  .services-item {
    padding-left: 212px;
  }
}
@media screen and (min-width: 1200px) {
  .services-item {
    padding-left: 447px;
  }
}

.services-item:first-child {
  padding-left: 28px;
}
@media screen and (min-width: 768px) {
  .services-item:first-child {
    padding-left: 212px;
  }
}
@media screen and (min-width: 1200px) {
  .services-item:first-child {
    padding-left: 447px;
  }
}

.services-item:first-child > .services-star {
  transform: rotate(45deg);
}

.services-star {
  fill: #fff;
}

.services-item:last-child {
  border-bottom: 1px solid #fff;
}

.services-number {
  position: absolute;
  top: 22px;
  left: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .services-number {
    margin-right: 197px;
  }
}
@media screen and (min-width: 1200px) {
  .services-number {
    font-size: 20px;
    margin-right: 428px;
  }
}

.services-box {
  max-width: 211px;
}
@media screen and (min-width: 768px) {
  .services-box {
    max-width: 268px;
  }
}
@media screen and (min-width: 1200px) {
  .services-box {
    max-width: 324px;
  }
}

.services-subtitle {
  color: #fff;
  max-width: 216px;
  font-size: 24px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.24px;
}

.services-star {
  display: block;
  margin-left: auto;
  flex-shrink: 0;
}

.services-text {
  color: #fff;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: 0.64px;
}

.works {
  padding-bottom: 80px;
}
@media screen and (min-width: 1200px) {
  .works {
    padding-bottom: 156px;
  }
}

.works-subtitle {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 8px;
  text-align: left;
}

.works-title {
  max-width: 312px;
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 1.28px;
  max-width: 312px;
}
@media screen and (min-width: 768px) {
  .works-title {
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 1.6px;
    max-width: 538.544px;
  }
}
.works-decor {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.works-list {
  display: flex;
  gap: 7px;
}

.works-box {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-bottom: 48px;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .works-box {
    align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .works-box {
    justify-content: space-between;
  }
}

.works-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 20px;
  background: #fff;
  width: 312px;
  height: 661px;
  flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .works-container {
    width: 640px;
    height: 390px;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .works-container {
    width: 760px;
    height: 368px;
    gap: 27px;
  }
}

.works-item {
  display: flex;
  gap: 8px;
}

.works-item:nth-child(3) {
  display: none;
}
@media screen and (min-width: 768px) {
  .works-item:nth-child(3) {
    display: block;
  }
}

.works-img-picture {
  flex-shrink: 0;
}

.works-img {
  width: 312px;
  height: 325px;
  flex-shrink: 0;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .works-img {
    width: 306px;
    height: 390px;
  }
}
@media screen and (min-width: 1200px) {
  .works-img {
    width: 353px;
    height: 368px;
  }
}

.works-info {
  padding: 0 8px;
}
@media screen and (min-width: 768px) {
  .works-info {
    padding-top: 16px;
    padding-left: 0;
    padding-right: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .works-info {
    padding-left: 0;
  }
}

.works-text {
  color: #555;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.36px;
  text-transform: uppercase;
}

.works-text-white {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.36px;
  text-transform: uppercase;
}

.works-paragraph {
  color: black, #171717;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.64px;
  align-self: stretch;
}

.works-codi {
  color: black, #171717;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.works-stars {
  position: absolute;
  right: 16px;
  bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  max-width: 44px;
}

.works-icon {
  fill: transparent;
  stroke: #171717;
}

.works-star:first-child > .works-icon {
  fill: #171717;
}

.works-out {
  position: relative;
  height: 949px;
  width: 312px;
  border-radius: 20px;
  outline: 1px solid var(--white-1, #FFF);
}
@media screen and (max-width: 767.98px) {
  .works-out {
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .works-out {
    height: 678px;
    width: 640px;
  }
}
@media screen and (min-width: 1200px) {
  .works-out {
    width: 1110px;
    height: 368px;
  }
}

.works-out > .works-stars .works-icon {
  fill: white;
}

.works-middle {
  position: relative;
  height: 853px;
  width: 312px;
  border-radius: 20px;
  outline: 1px solid var(--white-1, #FFF);
}
@media screen and (min-width: 768px) {
  .works-middle {
    height: 582px;
    width: 640px;
  }
}
@media screen and (min-width: 1200px) {
  .works-middle {
    width: 994px;
    height: 368px;
  }
}

.works-middle > .works-stars .works-star:first-child .works-icon, .works-middle > .works-stars .works-star:nth-child(2) .works-icon, .works-middle > .works-stars .works-star:nth-child(3) .works-icon {
  fill: white;
}

.works-middle > .works-stars .works-icon, .works-in > .works-stars .works-icon, .works-out > .works-stars .works-icon {
  stroke: white;
}

.works-in {
  position: relative;
  height: 757px;
  width: 312px;
  border-radius: 20px;
  outline: 1px solid var(--white-1, #FFF);
}
@media screen and (min-width: 768px) {
  .works-in {
    height: 486px;
    width: 640px;
  }
}
@media screen and (min-width: 1200px) {
  .works-in {
    width: 877px;
    height: 368px;
  }
}

.works-in > .works-stars .works-star:first-child .works-icon, .works-in > .works-stars .works-star:nth-child(2) .works-icon {
  fill: white;
}

.advantages {
  padding-bottom: 80px;
}
@media screen and (min-width: 720px) {
  .advantages {
    margin-top: 156px;
  }
}

.advantages-subtitle {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.advantages-title {
  color: #fff;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 48px;
  font-size: 32px;
  line-height: 1.4;
}
@media screen and (min-width: 720px) {
  .advantages-title {
    font-size: 40px;
    line-height: 1.2;
    width: 540px;
  }
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .advantages-list {
    gap: 30px;
  }
}

.advantages-item:first-child {
  background-color: #010101;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages-item {
  border-radius: 20px;
  overflow: hidden;
}

.advantages-item:not(:first-child) {
  border: 1px solid #676767;
  padding: 16px;
}

.advantages-item:not(:last-child) {
  max-width: 311px;
  width: 100%;
}
@media screen and (min-width: 720px) {
  .advantages-item:not(:last-child) {
    max-width: 197px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-item:not(:last-child) {
    max-width: 255px;
  }
}

.advantages-item:not(:first-child),
.advantages-item:not(:last-child) {
  height: 219px;
}
@media screen and (min-width: 720px) {
  .advantages-item:not(:first-child),
  .advantages-item:not(:last-child) {
    height: 341px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-item:not(:first-child),
  .advantages-item:not(:last-child) {
    height: 250px;
  }
}

.advantages-item:last-child {
  height: 214px;
  flex-grow: 1;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 720px) {
  .advantages-item:last-child {
    height: 250px;
  }
}

.advantages-number {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: block;
}

.advantages-text {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.24px;
  margin-bottom: 8px;
}

.advantages-paragraph {
  flex-shrink: 0;
  align-self: stretch;
  color: #fff;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.64px;
}

.advantages-btn {
  color: black, #171717;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.36px;
  text-transform: uppercase;
}

.feedback-article {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-bottom: 72px;
}
@media screen and (min-width: 720px) {
  .feedback-article {
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .feedback-article {
    gap: 45px;
  }
}

.feedback-title {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 120%;
  text-transform: uppercase;
}

.feedback-text {
  max-width: 920px;
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 1.6px;
  margin-bottom: 72px;
}
@media screen and (min-width: 720px) {
  .feedback-text {
    font-size: 40px;
  }
}

.feedback-name {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.feedback-paragraph {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 120%;
  text-transform: uppercase;
}

.feedback-content {
  display: flex;
  justify-content: space-between;
}

.feedback-img:nth-child(2) {
  width: 50px;
  height: 15px;
  transform: rotate(180deg);
}
@media screen and (min-width: 720px) {
  .feedback-img:nth-child(2) {
    width: 63px;
    height: 19px;
  }
}

.feedback-arrow {
  display: flex;
  gap: 24px;
  align-items: center;
}
@media screen and (min-width: 720px) {
  .feedback-arrow {
    gap: 40px;
  }
}

.form-title {
  color: black, #171717;
  font-size: 32px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.04em;
  margin-bottom: 48px;
}
@media screen and (min-width: 720px) {
  .form-title {
    font-size: 40px;
    line-height: 120%;
  }
}

.questions {
  border-radius: 20px;
  background: #fff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media screen and (min-width: 720px) {
  .questions {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .questions {
    padding-left: 95px;
    padding-right: 95px;
  }
}

.form {
  padding-bottom: 154px;
}

.form-mail,
.form-phone,
.form-comment {
  color: #686868, #686868;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.36px;
  text-transform: uppercase;
  border: none;
  border-bottom: 1px solid #171717;
  width: 100%;
  margin-bottom: 40px;
}

.form-btn {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.36px;
  text-transform: uppercase;
  border-radius: 24px;
  background: #171717;
  padding: 16px 24px;
  width: 272px;
  border: none;
}
@media screen and (min-width: 720px) {
  .form-btn {
    width: 145px;
    padding: 16px 24px;
  }
}

.footer {
  padding-bottom: 24px;
}

.footer-box {
  padding-bottom: 24px;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
}

.footer-list {
  display: flex;
  gap: 16px;
}

.footer-section {
  border-top: solid grey 1px;
  padding-top: 57px;
}
@media screen and (min-width: 720px) {
  .footer-section {
    padding-top: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-section {
    padding-top: 26px;
  }
}

.footer-info {
  color: #9a9a9a;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.1px;
  text-align: left;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.modal {
  width: 920px;
  height: 464px;
  flex-shrink: 0;
  border-radius: 20px;
  background: var(--white-1, #fff);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: rotate(360deg) scale(1) translate(-50%, -50%);
  transition: transform 250ms linear;
}

.backdrop.is-hidden .modal {
  transform: rotate(0) translate(0) scale(0);
}

.drop-text {
  color: #171717;
  font-family: Oswald;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 1.6px;
}

.drop-form {
  color: #686868;
  font-family: Oswald;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.36px;
  text-transform: uppercase;
}

.drop-icon {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}

.drop-button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: end;
  margin-top: 20px;
  margin-right: 20px;
}

.mobile-backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url(../images/backgroundhero.png);
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 14px 0;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.no-scroll {
  overflow: hidden;
}

.menu {
  max-width: 312px;
  margin: 0 auto;
}

.menu-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 201px;
  align-items: center;
}

.menu-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu-close-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}

.menu-svg {
  stroke: #fff;
}

.menu-nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.menu-link {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #fff;
}/*# sourceMappingURL=main.css.map */